<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot_name"/>
  <arg name="lidar"/>
  <arg name="manager_name"/>
  <arg name="nodelet_mode"/>

  <include file="$(find tr)/config/machine/remote.machine"/>

  <group ns="$(arg robot_name)">

  <!-- Nodelet Manager -->
    <group if="$(eval nodelet_mode=='load')">
      <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" machine="robot"/>
    </group>

    <!-- CAN -->
    <node pkg="nodelet" type="nodelet" name="usb_can_node" 
    args="$(arg nodelet_mode) can_plugins/UsbCanNode $(arg manager_name)" machine="robot">
      <param name="port" value="/dev/usbcan0"/>
      <param name="baud" value="1000000"/>
    </node>    

    <node pkg="nodelet" type="nodelet" name="can_handler" 
    args="$(arg nodelet_mode) can_plugins/CanHandler $(arg manager_name)" machine="robot">
      <param name="beta0" value="$(eval 0x4c4)"/> 
      <param name="beta1" value="$(eval 0x5bc)"/>
      <param name="beta2" value="$(eval 0x5b4)"/>
      <param name="beta3" value="$(eval 0x4e8)"/>

      <!-- <param name="beta4" value="$(eval 0x4b8)"/> -->
      <param name="beta4" value="$(eval 0x4f0)"/>
      <param name="beta5" value="$(eval 0x4d8)"/>

      <remap from="beta/motor0_cmd_vel" to="base/motor0_cmd_vel"/>
      <remap from="beta/motor1_cmd_vel" to="base/motor1_cmd_vel"/>
      <remap from="beta/motor2_cmd_vel" to="base/motor2_cmd_vel"/>
      <remap from="beta/motor3_cmd_vel" to="base/motor3_cmd_vel"/>
      <remap from="beta/motor4_cmd_swing" to="kick"/>
      <remap from="beta/motor4_cmd_vel" to="kick_pos"/>
      <remap from="beta/motor5_cmd_vel" to="try"/>


    </node>

    <!-- publish odom to TF (later)-->
    <node pkg="nodelet" type="nodelet" name="odom_broadcaster" machine="robot" 
    args="$(arg nodelet_mode) odometry_source_plugins/OdomBroadcaster $(arg manager_name)" output="screen">
      <param name="odom_frame" value="$(arg robot_name)/odom" />
      <param name="base_frame"  value="$(arg robot_name)/odom_link" />
      <param name="publish_rate"  value="1000" />
      <param name="invert_x" value="false"/>
      <param name="invert_y" value="false"/>
      <param name="invert_z" value="false"/>
      <param name="x0" value="0.55"/>
      <param name="y0" value="9.55"/>
      <!-- <param name="yaw0" value="0.785398"/> -->
      <param name="yaw0" value="0.0"/>
      <remap from="odom/x" to="base/odom/x"/>
      <remap from="odom/y" to="base/odom/y"/>
      <remap from="odom/yaw" to="base/odom/yaw"/>
    </node>

    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="odom_link_broadcaster" args="-0.11389378992741898 0.10998595445314349 0 0 0 0 tr/odom_link tr/base_link" machine="robot"/> -->
 <node pkg="tf2_ros" type="static_transform_publisher" name="odom_link_broadcaster" args="0.11389378992741898 -0.10998595445314349 0 0 0 0 tr/odom_link tr/base_link" machine="robot"/>
    <!-- convert x-y velocity to each motor velocity -->
    <node pkg="nodelet" type="nodelet" name="base_controller" 
    args="$(arg nodelet_mode) base_controller_plugins/Omni4 $(arg manager_name)" machine="robot">
      <rosparam command="load" file="$(find tr)/config/base_controller_params.yaml" />
      <remap from="motor0_cmd_vel" to="base/motor0_cmd_vel" />
      <remap from="motor1_cmd_vel" to="base/motor1_cmd_vel" />
      <remap from="motor2_cmd_vel" to="base/motor2_cmd_vel" />
      <remap from="motor3_cmd_vel" to="base/motor3_cmd_vel" />
    </node>

    <node pkg="state" type="state.py" name="state" machine="robot" output="screen">
      <rosparam file="$(find state)/config/ds4.yaml" command="load" />
      <rosparam file="$(find tr)/config/tasks.yaml" command="load" />
      <param name="max_lin" value="0.5" />
      <param name="max_ang" value="0.5" />
      <param name="initial_pose_x" value="0.55" />
      <param name="initial_pose_y" value="9.55" />
      <!-- <param name="initial_pose_a" value="0.785398" /> -->
      <param name="initial_pose_a" value="0" />
      <param name="robot_name" value="$(arg robot_name)"/>
      <remap from="cmd" to="beta/cmd" />
    </node> 

    <!-- LRF -->
    <group if="$(arg lidar)">
      <node pkg="tf2_ros" type="static_transform_publisher" name="laser_link_broadcaster" args="0.4 0 0 0 0 3.14  tr/base_link tr/laser_link" machine="robot" />

      <node name="urg_node" pkg="urg_node" type="urg_node" machine="robot">
        <param name="ip_address" value="192.168.0.10"/>
        <param name="frame_id" value="$(arg robot_name)/laser_link"/>
        <param name="angle_min" value="-1.5"/>
        <param name="angle_max" value="1.5"/>
        <remap from="scan" to="scan"/>
      </node>

      <node pkg="map_server" type="map_server" name="map_server" args="$(find robot_control)/resources/red/map.yaml">
        <param name="frame_id" value="$(arg robot_name)/map"/>
      </node>

      <node pkg="amcl" type="amcl" name="amcl" output="screen" machine="robot">
          <rosparam command="load" file="$(find robot_control)/config/amcl.yaml" />
          <param name="base_frame_id" value="$(arg robot_name)/base_link" />
          <param name="odom_frame_id" value="$(arg robot_name)/odom" />
          <param name="global_frame_id" value="$(arg robot_name)/map" />
      </node>
    </group>
    
    <group unless="$(arg lidar)">
      <node pkg="map_server" type="map_server" name="map_server" args="$(find robot_control)/resources/red/map.yaml">
        <param name="frame_id" value="$(arg robot_name)/odom"/>
      </node>
    </group>

  </group>
</launch>