[submodule "can_msgs"]
	path = can_msgs
	url = ../can_msgs.git
[submodule "can_plugins"]
	path = can_plugins
	url = ../can_plugins.git
[submodule "base_controller_plugins"]
	path = base_controller_plugins
	url = ../base_controller_plugins.git
[submodule "odometry_source_plugins"]
	path = odometry_source_plugins
	url = ../odometry_source_plugins.git
