<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="sim" default="false"/>
  <arg name="robot_name" default="4omni"/>

  <!-- simulation mode-->
  <group if="$(arg sim)">
	  <include file="$(find robot_control)/launch/RobotHWSim.launch">
		    <arg name="robot_name" value="$(arg robot_name)"/>
    </include>
  </group>
  
  <!-- real mode-->
  <group unless="$(arg sim)">
	  <include file="$(find robot_control)/launch/RobotHW.launch">
		    <arg name="robot_name" value="$(arg robot_name)"/>
    </include>
  </group>

  <!-- main nodes -->
  <group ns="$(arg robot_name)">
    <arg name="model" default="$(find robot_description)/urdf/$(arg robot_name)/model.urdf"/>   
	  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
      <param name="tf_prefix" value="$(arg robot_name)"/>
      <remap from="/joint_states" to="joint_states" />
    </node>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <node pkg="map_server" type="map_server" name="map_server" args="$(find robot_control)/resources/map/map.yaml">
      <param name="frame_id" value="$(arg robot_name)/map"/>
    </node>

    <node pkg="amcl" type="amcl" name="amcl" clear_params="true">
      <rosparam command="load" file="$(find robot_control)/config/amcl.yaml" />
      <param name="base_frame_id" value="$(arg robot_name)/base_link" />
      <param name="odom_frame_id" value="$(arg robot_name)/odom" />
      <param name="global_frame_id" value="$(arg robot_name)/map" />
    </node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find robot_control)/config/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find robot_control)/config/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find robot_control)/config/move_base/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find robot_control)/config/move_base/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find robot_control)/config/move_base/base_local_planner_params.yaml" command="load" />

      <param name="global_costmap/laser_scan_sensor/sensor_frame" value="$(arg robot_name)/laser_link" />
      <param name="global_costmap/laser_scan_sensor/topic" value="scan" />
      <param name="global_costmap/global_frame" value="$(arg robot_name)/map" />
      <param name="global_costmap/robot_base_frame" value="$(arg robot_name)/base_link" />
      <param name="local_costmap/laser_scan_sensor/sensor_frame" value="$(arg robot_name)/laser_link" />
      <param name="local_costmap/laser_scan_sensor/topic" value="scan" />
      <param name="local_costmap/global_frame" value="$(arg robot_name)/odom" />
      <param name="local_costmap/robot_base_frame" value="$(arg robot_name)/base_link" />
    </node>
 
  </group>

</launch>
