<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot_name"/>
  <arg name="x0"/>
  <arg name="y0"/>
  <arg name="yaw0"/>
  <group ns="$(arg robot_name)">
    <!-- CAN -->
    <node name="usb_can_node" pkg="robot_control" type="usb_can_node" output="screen">
    		<param name="port" value="/dev/serial/by-path/pci-0000:00:14.0-usb-0:4:1.0-port0"/>
    		<remap from="/can_tx" to="can_tx"/>
	    	<remap from="/can_rx" to="can_rx"/>
		<remap from="/can_rx" to="can_rx"/>
	    	<remap from="/can_rx" to="can_rx"/>
	    	<remap from="/can_rx" to="can_rx"/>
    </node>

    <node name="tr_can" pkg="robot_control" type="tr_can" output="screen">
    	<param name="beta0" value="$(eval 0x4e0)"/>
    	<param name="beta1" value="$(eval 0x4d0)"/>
    	<param name="beta2" value="$(eval 0x4d4)"/>
    	<param name="beta3" value="$(eval 0x4b8)"/>
		  <remap from="beta/motor0_cmd_vel" to="base/motor0_cmd_vel"/>
		  <remap from="beta/motor1_cmd_vel" to="base/motor1_cmd_vel"/>
		  <remap from="beta/motor2_cmd_vel" to="base/motor2_cmd_vel"/>
		  <remap from="beta/motor3_cmd_vel" to="base/motor3_cmd_vel"/>
    </node>

    <!-- LRF -->
    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
      <param name="ip_address" value="192.168.0.10"/>
      <param name="frame_id" value="$(arg robot_name)/laser_link"/>
      <param name="angle_min" value="-1.57"/>
      <param name="angle_max" value="1.57"/>
      <remap from="scan" to="scan"/>
    </node>

    <!-- publish odom to TF -->
    <node name="odom" pkg="robot_control" type="odom"  output="screen">
      <param name="odom_frame" value="$(arg robot_name)/odom" />
      <param name="base_frame"  value="$(arg robot_name)/odom_link" />
      <param name="publish_rate"  value="200" />
      <remap from="odom/x" to="base/odom/x"/>
      <remap from="odom/y" to="base/odom/y"/>
      <remap from="odom/yaw" to="base/odom/yaw"/>
    </node>

    <!-- convert x-y velocity to each motor velocity -->
    <node pkg="base_controller" type="4omni" name="base_controller" output="screen">
        <param name="motor_max_acc" value="50.0" />
        <param name="motor_max_vel" value="80.0" />
        <param name="invert_x" value="true" />
        <param name="invert_y" value="false" />
        <param name="invert_z" value="false" />
        <param name="robot_radius" value="0.1" />
        <param name="wheel_radius" value="0.038" />
        <remap from="motor0_cmd_vel" to="base/motor0_cmd_vel" />
        <remap from="motor1_cmd_vel" to="base/motor1_cmd_vel" />
        <remap from="motor2_cmd_vel" to="base/motor2_cmd_vel" />
        <remap from="motor3_cmd_vel" to="base/motor3_cmd_vel" />
    </node>

  </group>
</launch>
