<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot_name"/>
  <arg name="wheel_radius"/>
  <arg name="robot_radius"/>
  <arg name="motor_acc"/>
  <arg name="motor_vel"/>
  <arg name="x0"/>
  <arg name="y0"/>
  <arg name="yaw0"/>

  <arg name="manager_name" default="nodelet_manager" />
  <arg name="nodelet_mode" default="load" /><!-- set to standalone if you want to use as node-->

  <group ns="$(arg robot_name)">

    <group if="$(eval nodelet_mode=='load')">
      <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen"/>
    </group>

    <!-- CAN -->
    <node pkg="nodelet" type="nodelet" name="usb_can_node" args="$(arg nodelet_mode) can_plugins/UsbCanNode $(arg manager_name)" output="screen">
      <param name="port" value="/dev/serial/by-path/pci-0000:00:14.0-usb-0:4:1.0-port0"/>
    </node>    

    <node pkg="nodelet" type="nodelet" name="can_handler" args="load can_plugins/CanHandler $(arg manager_name)" output="screen">
      <param name="beta0" value="$(eval 0x4e0)"/>
      <param name="beta1" value="$(eval 0x4b8)"/>
      <param name="beta2" value="$(eval 0x4d4)"/>
      <param name="beta3" value="$(eval 0x4d0)"/>
      <remap from="beta/motor0_cmd_vel" to="base/motor0_cmd_vel"/>
      <remap from="beta/motor1_cmd_vel" to="base/motor1_cmd_vel"/>
      <remap from="beta/motor2_cmd_vel" to="base/motor2_cmd_vel"/>
      <remap from="beta/motor3_cmd_vel" to="base/motor3_cmd_vel"/>
    </node>

    <!-- publish odom to TF -->
    <node pkg="nodelet" type="nodelet" name="odom_broadcaster" 
    args="$(arg nodelet_mode) odometry_source_plugins/OdomBroadcaster $(arg manager_name)" output="screen">
      <param name="odom_frame" value="$(arg robot_name)/odom" />
      <param name="base_frame"  value="$(arg robot_name)/odom_link" />
      <param name="publish_rate"  value="100" />
      <remap from="odom/x" to="base/odom/x"/>
      <remap from="odom/y" to="base/odom/y"/>
      <remap from="odom/yaw" to="base/odom/yaw"/>
    </node>    

    <!-- convert x-y velocity to each motor velocity -->
    <node pkg="nodelet" type="nodelet" name="base_controller" args="$(arg nodelet_mode) base_controller_plugins/Omni4 $(arg manager_name)" output="screen">
      <param name="motor_max_acc" value="$(arg motor_acc)" />
      <param name="motor_max_vel" value="$(arg motor_vel)" />
      <param name="invert_x" value="false" />
      <param name="invert_y" value="true" />
      <param name="invert_z" value="true" />
      <param name="robot_radius" value="$(arg robot_radius)" />
      <param name="wheel_radius" value="$(arg wheel_radius)" />
      <remap from="motor0_cmd_vel" to="base/motor0_cmd_vel" />
      <remap from="motor1_cmd_vel" to="base/motor1_cmd_vel" />
      <remap from="motor2_cmd_vel" to="base/motor2_cmd_vel" />
      <remap from="motor3_cmd_vel" to="base/motor3_cmd_vel" />
    </node>    

    <!-- LRF -->
    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
      <param name="ip_address" value="192.168.0.10"/>
      <param name="frame_id" value="$(arg robot_name)/laser_link"/>
      <param name="angle_min" value="-1.57"/>
      <param name="angle_max" value="1.57"/>
      <remap from="scan" to="scan"/>
    </node>

  </group>
</launch>
