<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="sim" default="false"/>

  <arg name="manager_name" default="nodelet_manager" />
  <arg name="nodelet_mode" default="standalone" /><!-- set to standalone if you want to use as node-->

  <!-- robot configuration -->
  <arg name="robot_name" value="omni4"/>
  <arg name="wheel_radius" value="0.1"/>	<!-- m -->
  <arg name="robot_radius" value="0.25" />	<!-- m  center to wheel-->
  <arg name="mass" value="10"/>	<!-- kg -->
  <arg name="motor_torque" value="13.8"/>	<!-- N*m MTQ-->
  <arg name="motor_acc" value="$(eval motor_torque * 2 / (mass * wheel_radius))"/>	<!-- rad/s^2 -->
  <arg name="motor_vel" value="100"/>	<!-- rad/s -->
  <arg name="x0" value="1.0"/>
  <arg name="y0" value="1.0"/>
  <arg name="yaw0" value="0"/>
  <arg name="R_lin" value="1.0"/>
  <arg name="R_ang" value="1.0"/>

  <arg name="lin_acc" value="$(eval wheel_radius * motor_acc * R_lin)"/>
  <arg name="ang_acc" value="$(eval wheel_radius * motor_acc * R_ang / robot_radius)"/>
  <arg name="lin_vel" value="$(eval wheel_radius * motor_vel * R_lin)"/>
  <arg name="ang_vel" value="$(eval wheel_radius * motor_vel * R_ang / robot_radius)"/>

  <!-- launch RobotHW or RobotHWSim depending on argument sim -->
  <include file="$(eval find('robot_control') + '/launch/RobotHWSim.launch' if sim==1 else find('robot_control') + '/launch/RobotHW.launch' )">
    <arg name="manager_name" value="$(arg manager_name)" />
    <arg name="nodelet_mode" value="$(arg nodelet_mode)" />
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="wheel_radius" value="$(arg wheel_radius)"/>
    <arg name="robot_radius" value="$(arg robot_radius)"/>
    <arg name="motor_acc" value="$(arg motor_acc)"/>
    <arg name="motor_vel" value="$(arg motor_vel)"/>
    <arg name="x0" value="$(arg x0)"/>
    <arg name="y0" value="$(arg y0)"/>
    <arg name="yaw0" value="$(arg yaw0)"/>
  </include>


  <!-- main nodes -->
  <group ns="$(arg robot_name)">

    <group if="$(eval nodelet_mode=='load')">
      <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen"/>
    </group>

	  <param name="robot_description" command="$(find xacro)/xacro '$(find robot_description)/urdf/$(arg robot_name)/model.urdf' 
      mass:=$(arg mass) robot_name:=$(arg robot_name)
    --inorder"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
      <param name="tf_prefix" value="$(arg robot_name)"/>
      <remap from="/joint_states" to="joint_states" />
    </node>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

	  <node name="joy_node" pkg="joy" type="joy_node" />    

    <!-- joy teleop -->
    <node pkg="robot_control" type="base_teleop_joy" name="base_teleop_joy" output="screen">
      <rosparam file="$(find robot_control)/config/joy/ds4.yaml" command="load" />
      <param name="max_lin" value="$(arg lin_vel)" />
      <param name="max_ang" value="$(arg ang_vel)" />
      <param name="publish_vel" value="false" />
      <remap from="cmd" to="beta/cmd" />
    </node>


    <node pkg="map_server" type="map_server" name="map_server" args="$(find robot_control)/resources/map/map.yaml">
      <param name="frame_id" value="$(arg robot_name)/map"/>
    </node>

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <rosparam command="load" file="$(find robot_control)/config/amcl.yaml" />
      <param name="base_frame_id" value="$(arg robot_name)/odom_link" />
      <param name="odom_frame_id" value="$(arg robot_name)/odom" />
      <param name="global_frame_id" value="$(arg robot_name)/map" />
      <param name="initial_pose_x" value="$(arg x0)" />
      <param name="initial_pose_y" value="$(arg y0)" />
      <param name="initial_pose_a" value="$(arg yaw0)" />
    </node>

    <node pkg="nodelet" type="nodelet" name="follower" args="$(arg nodelet_mode) nav_plugins/Follower $(arg manager_name)" output="screen"/>
<!--
     <node pkg="robot_control" type="state_machine.py" name="state_machine.py" output="screen"/>
-->
  </group>

  <node pkg="rosbag" type="record" name="rosbag_record" args="record -O $(find robot_control)/bag/traj.bag -a"/>

</launch>
