<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="manager_name" default="nodelet_manager" />
  <arg name="nodelet_mode" default="standalone" /><!-- set to standalone if you want to use as node-->
  <arg name="debug" default="true"/>
  <arg name="robot_name" default="omni4"/>

  <include file="$(eval find(robot_name) + '/launch/RobotHW.launch' )">
    <arg name="manager_name" value="$(arg manager_name)" />
    <arg name="nodelet_mode" value="$(arg nodelet_mode)" />
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>
  

  <group ns="$(arg robot_name)">
    <!-- publish odom to TF -->
    <node pkg="nodelet" type="nodelet" name="odom_broadcaster" machine="robot"
    args="$(arg nodelet_mode) odometry_source_plugins/OdomBroadcaster $(arg manager_name)" output="screen">
      <param name="odom_frame" value="$(arg robot_name)/odom" />
      <param name="base_frame"  value="$(arg robot_name)/base_link" />
      <param name="publish_rate"  value="1000" />
      <param name="invert_x" value="true"/>
      <param name="x0" value="0.55"/>
      <param name="y0" value="9.55"/>
      <remap from="odom/x" to="base/odom/x"/>
      <remap from="odom/y" to="base/odom/y"/>
      <remap from="odom/yaw" to="base/odom/yaw"/>
    </node>

	  <!-- <node name="joy_node" pkg="joy" type="joy_node" machine="robot"/> -->

    <node pkg="ds4_driver" type="ds4_driver_node.py" name="ds4_driver" output="screen" machine="robot">
      <rosparam command="load" file="$(find ds4_driver)/config/params.yaml" />
      <param name="device_addr" value="" />
      <param name="use_standard_msgs" value="true" />
    </node>

    <node pkg="nav_plugins" type="PoseFollower" name="PoseFollower" machine="robot" output="screen">
      <param name="odom_frame_id" value="$(arg robot_name)/odom" />
      <param name="base_frame_id"  value="$(arg robot_name)/base_link" />
      <param name="ctrl_freq" value="800"/>
      <!-- <param name="Kp_xy" value="-4.491"/>
      <param name="Ki_xy" value="0.7419"/>
      <param name="Kd_xy" value="-1.143"/> -->
      <param name="Kp_xy" value="4"/>
      <param name="Ki_xy" value="0.1345"/>
      <param name="Kd_xy" value="0"/>

      <param name="Kp_yaw" value="1.5" />
      <param name="Ki_yaw" value="0.0" />
      <param name="Kd_yaw" value="0" />
    </node>

    <node pkg="map_server" type="map_server" name="map_server" args="$(find robot_control)/resources/red/map.yaml">
      <param name="frame_id" value="$(arg robot_name)/map"/>
    </node>

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <rosparam command="load" file="$(find robot_control)/config/amcl.yaml" />
      <param name="base_frame_id" value="$(arg robot_name)/base_link" />
      <param name="odom_frame_id" value="$(arg robot_name)/odom" />
      <param name="global_frame_id" value="$(arg robot_name)/map" />
      <param name="initial_pose_x" value="0.55" />
      <param name="initial_pose_y" value="9.55" />
      <param name="initial_pose_a" value="0" />
    </node>
  </group>


  <!-- Debug -->
  <group if="$(arg debug)">
    <include file="$(find robot_control)/launch/debug.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
    </include>
  </group>
 
</launch>
