<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot_name"/>

  <arg name="manager_name"/>
  <arg name="nodelet_mode"/>

  <include file="$(find pr)/config/machine/remote.machine"/>

  <group ns="$(arg robot_name)">

  <!-- Nodelet Manager -->
    <group if="$(eval nodelet_mode=='load')">
      <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" machine="robot"/>
    </group>

    <!-- CAN -->
    <node pkg="nodelet" type="nodelet" name="usb_can_node" 
    args="$(arg nodelet_mode) can_plugins/UsbCanNode $(arg manager_name)" machine="robot">
      <param name="port" value="/dev/usbcan0"/>
      <param name="baud" value="1000000"/>
    </node>    

    <node pkg="nodelet" type="nodelet" name="can_handler" 
    args="$(arg nodelet_mode) can_plugins/CanHandler $(arg manager_name)" machine="robot">

      <param name="beta0" value="$(eval 0x4f0)"/> 
      <param name="beta1" value="$(eval 0x5b8)"/>
      <param name="beta2" value="$(eval 0x4dc)"/>
      <param name="beta3" value="$(eval 0x4e0)"/>

      <param name="beta4" value="$(eval 0x4b8)"/>
      <param name="beta5" value="$(eval 0x4d0)"/>
      <param name="beta6" value="$(eval 0x5b4)"/>

      <remap from="beta/motor0_cmd_vel" to="base/motor0_cmd_vel"/>
      <remap from="beta/motor1_cmd_vel" to="base/motor1_cmd_vel"/>
      <remap from="beta/motor2_cmd_vel" to="base/motor2_cmd_vel"/>
      <remap from="beta/motor3_cmd_vel" to="base/motor3_cmd_vel"/>
      <remap from="beta/motor4_cmd_vel" to="base/motor4_cmd_vel"/>
      <remap from="beta/motor5_cmd_vel" to="base/motor5_cmd_vel"/>
      <remap from="beta/motor6_cmd_vel" to="base/motor6_cmd_vel"/>
    </node>

    <!-- publish odom to TF (later)-->
    <node pkg="nodelet" type="nodelet" name="odom_broadcaster" machine="robot"
    args="$(arg nodelet_mode) odometry_source_plugins/OdomBroadcaster $(arg manager_name)" output="screen">
      <param name="odom_frame" value="$(arg robot_name)/odom" />
      <param name="base_frame"  value="$(arg robot_name)/base_link" />
      <param name="publish_rate"  value="500" />
      <param name="x0" value="0.55"/>
      <param name="y0" value="9.55"/>
      <remap from="odom/x" to="base/odom/x"/>
      <remap from="odom/y" to="base/odom/y"/>
      <remap from="odom/yaw" to="base/odom/yaw"/>
    </node>

    <!-- convert x-y velocity to each motor velocity -->
    <node pkg="nodelet" type="nodelet" name="base_controller" 
    args="$(arg nodelet_mode) base_controller_plugins/Omni4 $(arg manager_name)" machine="robot">
      <rosparam command="load" file="$(find pr)/config/base_controller_params.yaml" />
      <remap from="motor0_cmd_vel" to="base/motor0_cmd_vel" />
      <remap from="motor1_cmd_vel" to="base/motor1_cmd_vel" />
      <remap from="motor2_cmd_vel" to="base/motor2_cmd_vel" />
      <remap from="motor3_cmd_vel" to="base/motor3_cmd_vel" />
    </node>

    <node pkg="state" type="state.py" name="state" machine="robot" output="screen">
      <rosparam file="$(find robot_control)/config/joy/ds4_usb.yaml" command="load" />
      <param name="max_lin" value="0.5" />
      <param name="max_ang" value="1" />
      <remap from="cmd" to="beta/cmd" />
    </node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0 -0.355905 0 0.7071068, -0.7071068, 0, 0 pr/base_link pr/laser_link" /> 

    <!-- LRF -->
    <node name="urg_node" pkg="urg_node" type="urg_node" machine="robot">
      <param name="serial_port" value="/dev/sensors/hokuyo_H1323516"/>
      <param name="frame_id" value="$(arg robot_name)/laser_link"/>
      <param name="angle_min" value="-1.5"/>
      <param name="angle_max" value="1.5"/>
      <remap from="scan" to="scan"/>
    </node>

  </group>
</launch>